@import "../palettes/palette-1.scss";

.predict-show-component .main-view {
  .container-fluid {
    padding: 0;
  }

  .page-title {
    background-color: $neutral_blue_2;
    color: $neutral_blue_10;
    margin: 0 -16px;

    h3 {
      font-size: 36px;
      margin: 0;
      color: $neutral_blue_10;
      font-weight: 600;
    }

    h4 {
      font-size: 20px;
      color: $neutral_blue_8;
      font-weight: 400;
      margin-bottom: 20px;

      i {
        color: $neutral_blue_6;
      }
    }
    .serviceInfo,
    .serviceCorresp {
      margin-left: 10px;
      h4 {
        color: $neutral_blue_10;
        font-size: 24px;
        margin-bottom: 0;
        width: 100%;
        line-height: 20px;

        a {
          color: #fff;
          text-decoration: dashed;

          i {
            color: #fff;
            position: relative;
            top: 1px;
            font-size: 18px;
          }
        }
      }

      h5 {
        font-size: 16px;
        font-weight: 400;
        color: $neutral_blue_8;
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }
  }

  .predict-breadcrumb {
    background-color: $neutral_blue_10;
  }
}
