.imaginate {
  padding-top: 15px;
  font-size:0.95rem;
}
.imaginate .form-control,
.imaginate .btn {
  font-size: 0.95rem;
}

.imaginate .img-display,
.imaginate .img-results,
.imaginate .commands,
.imaginate .img-list {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
  position: relative;
  margin: 1rem -15px 0;
  border: solid #f8f9fa;
  border-width: .2rem 0 0;
}
.imaginate .img-block {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: .25rem;
  background-color: #f5f5f5;
}
.imaginate .img-display span {
  display: inline-block;
  width: 35rem;
  height: 15rem;
  margin: .25rem;
  background-color: #f5f5f5;
}
