@import "../../palettes/palette-1.scss";

.trainingmeasure {
  margin-top: 20px;

  h5 {
    color: $neutral_blue_1;

    i {
      color: $neutral_blue_4;
    }
  }

  .index {
    color: $neutral_blue_3;
    font-weight: 700;
    margin-right: 10px;
  }

  .row:hover,
  .row.hovered {
    background-color: $neutral_blue_9;
  }
}
