@import "../../palettes/palette-1.scss";

.trainingmeasure {
  margin-top: 20px;

  .row {
    display: inline;
    overflow: hidden;
  }

  .row:hover,
  .row.hovered {
    background-color: $neutral_blue_9;
  }
}
