.trainingmonitor-layout {
  width: 100%;
  margin: 0 0 10px 5px;

  i {
    cursor: pointer;
    margin: 3px;
    color: $neutral_blue_8;
  }

  i.selected-layout {
    color: $neutral_blue_2;
  }
}

.trainingmonitor-chart {

  margin-bottom: 20px;

  .chart {
    border: 1px solid $neutral_blue_9;
    border-radius: 10px;
    box-shadow: 0 4px 6px hsla(0, 100%, 0%, 0.1);

    canvas {
      margin-top: 20px;
    }

    div.description {
      background-color: $neutral_blue_3;
      color: $neutral_blue_10;
      padding: 10px;
      border-radius: 0px 0px 10px 10px;

      h3 {
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        width: 100%;

        i {
          margin-right: 5px;
          font-size: 18px;
        }

        span.minValue,
        span.bestValue {
          color: $neutral_blue_8;
          font-size: 16px;
          font-weight: 500;
        }
      }

      h4 {
        color: $neutral_blue_8;
        font-size: 20px;
        width: 100%;
        font-weight: 400;

        span.logScale {
          float: right;
          font-size: 16px;
          position: relative;
          top: 4px;

          input {
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}

.trainingmonitor-perclassarray {
  margin-top: 30px;

  table {
    border: 1px solid $neutral_blue_9;

    .measure-cell.hovered {
      background-color: $neutral_blue_9;
    }

    thead {
      background-color: $neutral_blue_10;
      color: $neutral_blue_3;
      text-transform: uppercase;
    }

    td {
      h3 {
        color: $neutral_blue_1;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }

      h4 {
        color: $neutral_blue_3;
        margin: 0;
        font-size: 16px;

        i {
          margin-right: 3px;
          font-size: 12px;
          position: relative;
          bottom: 2px;
        }
      }
    }

    th.sparkline {
      padding: 0;
      max-width: 150px;

      svg {
        position: relative;
        left: -2px;
      }
    }
  }
}

table.trainingmonitor-multititle {
  border-spacing: 0 4px;
  color: #e2e2e2;
  padding: 10px;
  width: 100%;

  th,
  td {
    padding: 15px;
    text-align: left;
  }

  tbody tr {
    background-color: #1c223b;
    color: #e2e2e2;
  }

  tbody tr:hover {
    background-color: #151b31;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  tbody tr td:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  tbody tr td:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;

    i {
      cursor: pointer;
    }
  }

  tbody td:first-of-type {
    border-left-width: 10px;
    border-left-style: solid;
  }

  tbody tr:hover .delete {
    opacity: 1;
  }
}
