@import "../../palettes/palette-1.scss";

.serviceinfo {
  margin-top: 20px;

  h5 {
    color: $neutral_blue_2;
  }

  h6 {
    color: $neutral_blue_4;
    margin-bottom: 0;
  }

  .list-group {
    padding: 2px 10px;
  }

  .block,
  .list-group-item {
    border: 0;
    background-color: transparent;
  }
}
