@import "../../palettes/palette-1.scss";

.serviceinfo {
  margin-top: 20px;

  padding-bottom: 20px;
  border-bottom: 1px solid $neutral_blue_8;

  h5 {
    margin-top: 10px;
    font-size: 18px;
    color: $neutral_blue_1;

    i {
      color: $neutral_blue_4;
    }
  }

  h6 {
    color: $neutral_blue_4;
    margin-bottom: 0;
  }

  .list-group {
    padding: 2px 10px;
  }

  .block,
  .list-group-item {
    border: 0;
    background-color: transparent;
  }
}
