#predictServiceList {
  margin-top: 20px;

  .card {
    margin: 5px;

    .card-header .badge {
      margin-right: 3px;
    }
  }
  #create-service {
    margin: 10px 0;
  }

  .create-meta h5 {
    display: none;
  }
}
