/*
 * ====
 * ServiceList
 * ====
 */

ul.serviceList {
  padding-left: 0;
  list-style: none;
  margin-bottom: 60px;

  a {
    min-height: 44px;
    transition: padding 0.3s;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #707070;
    text-decoration: none;

    .nav-item-name {
      flex: 1;
    }
  }

  li {
    white-space: nowrap;
  }

  li.active {
    box-shadow: inset 4px 0 0 #4b4ba3;
    background: rgba(0, 0, 0, 0.04);

    a {
      color: #393982;
      margin-left: 4px;
      padding-left: 11px;
      font-weight: 600;
    }
  }

  .badge-training {
    margin-right: 3px;
  }
}

/*
 * ====
 * ServiceNew
 * ====
 */

.react-codemirror2 {
  width: 100%;
}

/*
 * ====
 * modal DeleteService
 * ====
 */

#modal-deleteService {
  pre {
    display: inline;
    padding: 2px;
    background: #b1bbec;
  }
}

/*
 * ====
 * modal StopTraining
 * ====
 */

#modal-stopTraining {
  pre {
    display: inline;
    padding: 2px;
    background: #b1bbec;
  }
}

/*
 * ====
 * Training Monitor
 * ====
 */

.trainingmonitor {
  .clacc-level-0 {
    background-color: #eee;
  }

  .clacc-level-warning {
    color: #212529;
    background-color: #ffc107;
  }

  .clacc-level-success {
    color: #fff;
    background-color: #28a745;
  }
}
