/*
 * ====
 * ServiceNew
 * ====
 */

.react-codemirror2 {
  width: 100%;
}

/*
 * ====
 * modal DeleteService
 * ====
 */

#modal-deleteService,
#modal-deleteRepository {
  color: #000;
  pre {
    display: inline;
    padding: 2px;
    background: #b1bbec;
  }
}

/*
 * ====
 * modal StopTraining
 * ====
 */

#modal-stopTraining {
  pre {
    display: inline;
    padding: 2px;
    background: #b1bbec;
  }
}

/*
 * ====
 * Training Monitor
 * ====
 */

.trainingmonitor {
  .clacc-level-0 {
    background-color: #eee;
  }

  .clacc-level-warning {
    color: #212529;
    background-color: #ffc107;
  }

  .clacc-level-success {
    color: #fff;
    background-color: #28a745;
  }
}
