/*
 * ====
 * Imaginate
 * ====
 */

.imaginate .img-list img {
  width: 80px;
  height: auto;
  font-size: .85714286rem;
  display: inline-block;
  margin: 0 .25rem .5rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
  padding: 5px;
  float: left;
}

/*
 * ====
 * ServiceList
 * ====
 */

ul.serviceList {
  padding-left: 0;
  list-style: none;
  margin-bottom:60px;
}
.serviceList li.active {
  box-shadow: inset 4px 0 0 #4b4ba3;
}
.sidebar-top-level-items>li.active {
  background: rgba(0,0,0,0.04);
}
.serviceList li {
  white-space: nowrap;
}
.serviceList li.active>a {
  color: #393982;
}
.sidebar-top-level-items>li>a {
  min-height: 44px;
}
.sidebar-top-level-items>li.active>a {
  margin-left: 4px;
  padding-left: 11px;
}
.serviceList li.active>a {
  font-weight: 600;
}
.serviceList li a {
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #707070;
}
.serviceList a {
  text-decoration: none;
}
.serviceList li {
  white-space: nowrap;
}
.serviceList li .nav-item-name {
  flex: 1;
}
/*
 * ====
 * ServiceNew
 * ====
 */

.react-codemirror2 {
  width: 100%;
}
