@import "./_custom_bootstrap";
@import "./palettes/palette-1.scss";

.header.navbar::after {
  clear: both;
}

.header.navbar::before,
.header.navbar::after {
  content: " ";
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header.navbar {
  background-color: $neutral_blue_1;
  padding: 0 16px;
  z-index: 1000;
  margin-bottom: 0;
  min-height: 40px;
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;

  .container-fluid {
    padding: 0;
  }

  .header-content {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    padding-left: 0;
    width: 100%;

    li:hover {
      background-color: $neutral_blue_2;
    }

    .title-container {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-top: 0;
      overflow: visible;

      ul li.selected {
        background-color: $neutral_blue_3;
        color: $neutral_blue_9;
      }
    }

    .title {
      padding-right: 0;
      display: -webkit-flex;
      display: flex;
      position: relative;
      margin: 0;
      font-size: 18px;
      vertical-align: top;
      white-space: nowrap;

      a {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        padding: 2px 8px;
        margin: 5px 2px 5px -8px;
        border-radius: 4px;
        text-decoration: none;
        color: $neutral_blue_10;
      }
    }
  }

  .navbar-sub-nav {
    display: flex;
    margin: 0 0 0 6px;

    .separator {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 6px 8px;
      margin: 4px 2px;
      font-size: 12px;
      border-radius: 4px;
      height: 32px;
      font-weight: 600;
      color: $neutral_blue_10;
    }
  }

  .navbar-collapse {
    flex: 0 0 auto;
    border-top: 0;
    padding: 0;
  }

  .navbar-sub-nav > li > a,
  .navbar-nav > li > a,
  a.nav-link {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    margin: 4px 2px;
    font-size: 12px;
    border-radius: 4px;
    height: 32px;
    font-weight: 600;
    color: $neutral_blue_10;
  }

  i {
    color: $neutral_blue_9;
  }

  #servers-dropdown {
    i {
      color: $neutral_blue_9;
      margin-right: 5px;
    }

    i.servers-loading {
      color: #ccc;
    }

    .fas.fa-clone.warning {
      color: $support_yellow_5;
    }

    .far.fa-clone,
    .servers-down,
    .fa-square.serverDown {
      color: $support_red_5;
    }

    .dropdown-item.server i {
      color: $neutral_blue_5;
    }

    .dropdown-item.server i.fa-square.serverDown {
      color: $support_red_5;
    }

    .server-details {
      color: #ddd;

      div {
        padding-bottom: 4px;
        border-bottom: 1px solid #666;

        span {
          color: #fff;
          font-weight: 700;
        }
      }

      div.last {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      i {
        color: #ddd;
        position: relative;
        top: 3px;
      }
    }
  }

  .navbar-nav {
    float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }

  .dropdown-menu.show {
    box-shadow: 0 4px 6px hsla(0, 100%, 0%, 0.1);
  }
}
