.page-with-contextual-sidebar {
  padding-left: 220px;
}

.right-sidebar-collapsed {
  padding-right: 0;
}

.left-sidebar.nav-sidebar {
  transition: width 0.3s, left 0.3s;
  position: fixed;
  z-index: 400;
  width: 220px;
  top: 40px;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: inset -2px 0 0 #e5e5e5;
  transform: translate3d(0, 0, 0);
}
.left-sidebar .nav-sidebar-inner-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.nav-sidebar a {
  text-decoration: none;
}
.left-sidebar .progress {
  margin:10px
}

.main-view.content-wrapper {
  margin-top: 40px;
  padding-bottom: 100px;
  padding-right: 290px;
}
.main-view.content-wrapper .container-fluid {
  padding: 0 16px;
}
.right-sidebar.right-sidebar-expanded {
  width: 290px;
}
.right-sidebar {
  position: fixed;
  top: 40px;
  bottom: 0;
  right: 0;
  transition: width 0.3s;
  background: #fafafa;
  z-index: 200;
  overflow: hidden;
  border-left: 1px solid #e5e5e5;
  padding-right: 0;
  font-size:0.95rem;
}

.right-sidebar.right-sidebar-expanded .issuable-sidebar {
  padding: 0 20px;
}
.right-sidebar .issuable-sidebar {
  width: calc(100% + 100px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.right-sidebar.right-sidebar-expanded .issuable-sidebar-header {
  padding-top: 10px;
}
.right-sidebar .block.issuable-sidebar-header {
  padding-top: 0;
  padding-bottom: 10px;
}
.right-sidebar .block {
  padding: 16px 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  width: 250px;
}
.block {
  display: block;
}
