@import "./CurlCommand.scss";
@import "./JsonResponse.scss";

.imaginate {
  .threshold.card,
  .inputUrl.card {
    border: 0;
  }

  .inputUrl.card {
    .card-body {
      padding: 5px 1.25rem;

      .form-control:focus {
        border-color: #ced4da;
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      .input-group-text {
        border: 0;
        padding: 0;
      }
    }
  }

  .threshold {
    .btn-group {
      margin: 0 auto;

      .btn {
        cursor: pointer;
        display: inline-block;
        min-height: 1em;
        outline: 0;
        border: none;
        vertical-align: baseline;
        background: #e0e1e2 none;
        color: rgba(0, 0, 0, 0.6);
        font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 1rem;
        margin: 0 0.25em 0 0;
        padding: 0.78571429em 1.5em 0.78571429em;
        text-transform: none;
        text-shadow: none;
        font-weight: 700;
        line-height: 1em;
        font-style: normal;
        text-align: center;
        text-decoration: none;
        border-radius: 0.28571429rem;
        -webkit-box-shadow: 0 0 0 1px transparent inset,
          0 0 0 0 rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0 0 0 1px transparent inset,
          0 0 0 0 rgba(34, 36, 38, 0.15) inset;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: opacity 0.1s ease, background-color 0.1s ease,
          color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
        transition: opacity 0.1s ease, background-color 0.1s ease,
          color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
        transition: opacity 0.1s ease, background-color 0.1s ease,
          color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
        transition: opacity 0.1s ease, background-color 0.1s ease,
          color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease,
          -webkit-box-shadow 0.1s ease;
        will-change: "";
        -webkit-tap-highlight-color: transparent;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 0;
        border-radius: 0;
        margin: 0;
      }

      .btn:first-child {
        border-left: none;
        margin-left: 0;
        border-top-left-radius: 0.28571429rem;
        border-bottom-left-radius: 0.28571429rem;
      }

      .btn:last-child {
        border-top-right-radius: 0.28571429rem;
        border-bottom-right-radius: 0.28571429rem;
      }

      .btn-primary {
        background-color: #21ba45;
        color: #fff;
        text-shadow: none;
        background-image: none;
        -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
        box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
      }

      .or {
        font-size: 1rem;
        position: relative;
        width: 0.3em;
        height: 2.57142857em;
        z-index: 3;
      }

      .or:before {
        position: absolute;
        text-align: center;
        border-radius: 500rem;
        content: "or";
        top: 50%;
        left: 50%;
        background-color: #fff;
        text-shadow: none;
        margin-top: -0.89285714em;
        margin-left: -0.89285714em;
        width: 1.78571429em;
        height: 1.78571429em;
        line-height: 1.78571429em;
        color: rgba(0, 0, 0, 0.4);
        font-style: normal;
        font-weight: 700;
        -webkit-box-shadow: 0 0 0 1px transparent inset;
        box-shadow: 0 0 0 1px transparent inset;
      }
    }
  }

  .description {
    margin: 0 0 18px 0;
  }

  .card.commands {
    .card-body {
      padding: 0;
    }

    .card-text {
      max-height: 500px;
      margin-bottom: 0;
    }

    .bd-clipboard {
      display: block;
      position: relative;
      float: right;

      .btn-clipboard {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 10;
        display: block;
        padding: 0.25rem 0.5rem;
        font-size: 75%;
        color: #818a91;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);
        border: 0;
        border-radius: 0.25rem;
        color: #fff;
      }

      .btn-clipboard:focus {
        outline: 0;
      }

      .btn-clipboard:hover {
        color: #fff;
        background-color: #027de7;
      }

      #copy-tooltip {
        width: 150px;
        text-align: center;
      }
    }
  }

  .boundingboxdisplay {
    margin: 0 auto;
  }

  .boundingBoxCanvas {
    max-height: 60vh !important;
  }

  .img-list {
    padding: 0;

    #carousel {
      overflow: auto;
      white-space: nowrap;
      margin-bottom: 5px;

      .slide {
        display: inline-block;

        img {
          padding: 5px;
          width: 80px;
        }
      }
    }
  }
}
