.service-component .main-view .container-fluid {
  padding: 0;
}
.service-component .main-view .container-fluid .content {
  padding: 0 15px;
}
.service-component .main-view .container-fluid nav {
  padding: 4px 8px;
}
