@import "./CurlCommand.scss";

.service-new {
  .content {
    margin: 0 auto;
    padding-top: 20px;

    .widget-service-new {
      padding: 5px;

      h5 {
        padding-bottom: 10px;
      }
      button {
        margin-top: 15px;
      }
    }
  }

  input.rbt-input-main {
    width: 323px;
  }

  .CodeMirror {
    height: 400px !important;
  }
  .CodeMirror-hscrollbar {
    display: none;
  }
}
