.service-new .content {
  margin: 0 auto;
  padding-top: 20px;
}

.service-new .content .widget-service-new {
  padding: 5px;
}

.service-new .content .widget-service-new h5 {
  padding-bottom: 10px;
}

.service-new .content .widget-service-new button {
  margin-top: 15px;
}

.CodeMirror {
  height: 400px !important;
}

.CodeMirror-hscrollbar {
  display: none;
}
