// Palette
@import "./palettes/palette-light.scss";
// @import "./palettes/palette-dark.scss";
@import "./palettes/chart-badges.scss";

// My Bootstrap configuration
@import "./_custom_bootstrap";

// My tooltip configuration
@import "./_tooltip";
@import "./_widgets.scss";

// Bootstrap library
@import "bootstrap/scss/bootstrap";

@import "./commons/Header.scss";
@import "./commons/Home.scss";
@import "./commons/Service.scss";
@import "./commons/CurlCommand.scss";
@import "./commons/JsonResponse.scss";


@import "./Predict/Home.scss";
@import "./Predict/New.scss";
@import "./Predict/Show.scss";

@import "./Training/Home.scss";
@import "./Training/Show.scss";

@import "./Chart/Show.scss";
@import "./Chart/Model-Benchmark.scss";

@import "./Chain/Show.scss";

@import "./Dataset/Home.scss";

@import "./widgets/Benchmark/styles.scss";
@import "./widgets/ServiceInfo/styles.scss";
@import "./widgets/GpuInfo/styles.scss";
@import "./widgets/Breadcrumb/styles.scss";
@import "./widgets/DownloadModelFiles/styles.scss";
@import "./widgets/Imaginate/styles.scss";
@import "./widgets/MainViewServiceList/styles.scss";
@import "./widgets/PlaceHolder/styles.scss";
@import "./widgets/PredictServiceList/styles.scss";
@import "./widgets/ServiceList/styles.scss";
@import "./widgets/ServiceCardList/styles.scss";
@import "./widgets/ServiceContentList/styles.scss";
@import "./widgets/TrainingMonitor/styles.scss";
@import "./widgets/TrainingMeasure/styles.scss";
@import "./widgets/VideoExplorer/styles.scss";

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.card-columns {
  @media (min-width: 1400px) {
    // @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @media (max-width: 1400px) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.hidden {
  display: none !important;
}

.card-header .badge {
  font-size: 90%;
}

.list-group-item {
  padding: 0.2rem 0.3rem;
}
