// My Bootstrap configuration
@import "./_custom_bootstrap";

// My tooltip configuration
@import "./_tooltip";
@import "./_widgets.scss";

// Bootstrap library
@import "bootstrap/scss/bootstrap";

@import "./Header.scss";
@import "./Home.scss";
@import "./Service.scss";

@import "./Predict/Home.scss";
@import "./Training/Home.scss";
@import "./Training/Show.scss";

@import "./widgets/Breadcrumb/styles.scss";
@import "./widgets/Imaginate/styles.scss";
@import "./widgets/TrainingMonitor/styles.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}
