// My Bootstrap configuration
@import './_custom_bootstrap';

// My tooltip configuration
@import './_tooltip';
@import "./_widgets.scss";

// Bootstrap library
@import 'bootstrap/scss/bootstrap';

@import "./Header.scss";
@import "./Home.scss";
@import "./Service.scss";
@import "./ServiceNew.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

