version: '3'
services:
  server:
    build:
      context: ../.
      dockerfile: docker/nginx/Dockerfile.eris
    image: core-ui-nginx
    restart: always
    ports:
      - '18104:80' # Connect localhost 18104 port to container 80 port
    links: # Link services to access http://react and http://deepdetect inside the container
      - react:react
    volumes:
      - /data1/core_ui:/opt/platform
      - /data1:/data1
      - /data2:/data2
      - /opt/platform/platform_docs/public:/var/www/html/docs
  react:
    build:
      context: ../.
      dockerfile: docker/react/Dockerfile.eris
    image: core-ui-react
    restart: always
    environment:
      - NODE_ENV=development
    volumes: # For webpack dev server to use our local files
      - ./..:/usr/src/react
    ports:
      - '3000:3000' # For docker to now where to redirect HMR queries
  deepdetect_public:
    image: 'beniz/deepdetect_gpu'
    restart: always
    ports:
      - '8900:8080'
    volumes:
      - /data1/core_ui:/opt/platform
      - /data1:/data1
      - /data2:/data2
  deepdetect_private:
    environment:
      - CUDA_VISIBLE_DEVICES=1
    image: 'beniz/deepdetect_gpu'
    restart: always
    ports:
      - '8910:8080'
    volumes:
      - /data1/core_ui:/opt/platform
      - /data1:/data1
      - /data2:/data2
  deepdetect_training:
    environment:
      - CUDA_VISIBLE_DEVICES=2
    image: 'beniz/deepdetect_gpu'
    restart: always
    ports:
      - '8911:8080'
    volumes:
      - /data1/core_ui:/opt/platform
      - /data1:/data1
      - /data2:/data2
  jupyter:
    environment:
      - JUPYTER_LAB_ENABLE=yes
    image: 'jupyter/datascience-notebook'
    restart: always
    ports:
      - '8920:8888'
    volumes:
      - /opt/platform/notebooks:/home/jovyan/work
      - /data1:/data1
      - /data2:/data2
      - ../config/jupyter:/home/jovyan/.jupyter
