$chart_badge_light_0: rgba(55,126,184,0.2);
$chart_badge_light_1: rgba(77,175,74,0.2);
$chart_badge_light_2: rgba(152,78,163,0.2);
$chart_badge_light_3: rgba(255,127,0,0.2);
$chart_badge_light_4: rgba(255,255,51,0.2);
$chart_badge_light_5: rgba(166,86,40,0.2);
$chart_badge_light_6: rgba(247,129,191,0.2);
$chart_badge_light_7: rgba(153,153,153,0.2);

$chart_badge_0: rgb(55,126,184);
$chart_badge_1: rgb(77,175,74);
$chart_badge_2: rgb(152,78,163);
$chart_badge_3: rgb(255,127,0);
$chart_badge_4: rgb(255,255,51);
$chart_badge_5: rgb(166,86,40);
$chart_badge_6: rgb(247,129,191);
$chart_badge_7: rgb(153,153,153);

.chart-badge-0 {
  color: $chart_badge_0;
}
.chart-badge-1 {
  color: $chart_badge_1;
}
.chart-badge-2 {
  color: $chart_badge_2;
}
.chart-badge-3 {
  color: $chart_badge_3;
}
.chart-badge-4 {
  color: $chart_badge_4;
}
.chart-badge-5 {
  color: $chart_badge_5;
}
.chart-badge-6 {
  color: $chart_badge_6;
}
.chart-badge-7 {
  color: $chart_badge_7;
}

.chart-badge-light-0 {
  color: $chart_badge_light_0;
}
.chart-badge-light-1 {
  color: $chart_badge_light_1;
}
.chart-badge-light-2 {
  color: $chart_badge_light_2;
}
.chart-badge-light-3 {
  color: $chart_badge_light_3;
}
.chart-badge-light-4 {
  color: $chart_badge_light_4;
}
.chart-badge-light-5 {
  color: $chart_badge_light_5;
}
.chart-badge-light-6 {
  color: $chart_badge_light_6;
}
.chart-badge-light-7 {
  color: $chart_badge_light_7;
}

.chart-cell-0 {
  border-color: $chart_badge_0;
}
.chart-cell-1 {
  border-color: $chart_badge_1;
}
.chart-cell-2 {
  border-color: $chart_badge_2;
}
.chart-cell-3 {
  border-color: $chart_badge_3;
}
.chart-cell-4 {
  border-color: $chart_badge_4;
}
.chart-cell-5 {
  border-color: $chart_badge_5;
}
.chart-cell-6 {
  border-color: $chart_badge_6;
}
.chart-cell-7 {
  border-color: $chart_badge_7;
}
