/* Refactor UI - Palette light */

$body_color_3: #ddd;
$body_color_2: #eee;
$body_color_1: #fff;
$body_color: $body_color_1;

$default_color: #000;


/* Primary */

$primary_cyan_1: hsl(184, 91%, 17%);
$primary_cyan_2: hsl(185, 84%, 25%);
$primary_cyan_3: hsl(185, 81%, 29%);
$primary_cyan_4: hsl(184, 77%, 34%);
$primary_cyan_5: hsl(185, 62%, 45%);
$primary_cyan_6: hsl(185, 57%, 50%);
$primary_cyan_7: hsl(184, 65%, 59%);
$primary_cyan_8: hsl(184, 80%, 74%);
$primary_cyan_9: hsl(185, 94%, 87%);
$primary_cyan_10: hsl(186, 100%, 94%);

/* Neutrals */

$neutral_blue_1: hsl(209, 61%, 16%);
$neutral_blue_2: hsl(211, 39%, 23%);
$neutral_blue_3: hsl(209, 34%, 30%);
$neutral_blue_4: hsl(209, 28%, 39%);
$neutral_blue_5: hsl(210, 22%, 49%);
$neutral_blue_6: hsl(209, 23%, 60%);
$neutral_blue_7: hsl(211, 27%, 70%);
$neutral_blue_8: hsl(210, 31%, 80%);
$neutral_blue_9: hsl(212, 33%, 89%);
$neutral_blue_10: hsl(210, 36%, 96%);

/* Support */

$support_indigo_1: hsl(234, 62%, 26%);
$support_indigo_2: hsl(232, 51%, 36%);
$support_indigo_3: hsl(230, 49%, 41%);
$support_indigo_4: hsl(228, 45%, 45%);
$support_indigo_5: hsl(227, 42%, 51%);
$support_indigo_6: hsl(227, 50%, 59%);
$support_indigo_7: hsl(225, 57%, 67%);
$support_indigo_8: hsl(224, 67%, 76%);
$support_indigo_9: hsl(221, 78%, 86%);
$support_indigo_10: hsl(221, 68%, 93%);

$support_pink_1: hsl(330, 79%, 20%);
$support_pink_2: hsl(331, 74%, 27%);
$support_pink_3: hsl(330, 70%, 36%);
$support_pink_4: hsl(330, 68%, 40%);
$support_pink_5: hsl(330, 63%, 47%);
$support_pink_6: hsl(330, 66%, 57%);
$support_pink_7: hsl(330, 72%, 65%);
$support_pink_8: hsl(330, 77%, 76%);
$support_pink_9: hsl(330, 87%, 85%);
$support_pink_10: hsl(329, 100%, 94%);

$support_red_1: hsl(360, 92%, 20%);
$support_red_2: hsl(360, 85%, 25%);
$support_red_3: hsl(360, 79%, 32%);
$support_red_4: hsl(360, 72%, 38%);
$support_red_5: hsl(360, 67%, 44%);
$support_red_6: hsl(360, 64%, 55%);
$support_red_7: hsl(360, 71%, 66%);
$support_red_8: hsl(360, 77%, 78%);
$support_red_9: hsl(360, 82%, 89%);
$support_red_10: hsl(360, 100%, 97%);

$support_yellow_1: hsl(43, 86%, 17%);
$support_yellow_2: hsl(43, 77%, 27%);
$support_yellow_3: hsl(43, 72%, 37%);
$support_yellow_4: hsl(42, 63%, 48%);
$support_yellow_5: hsl(42, 78%, 60%);
$support_yellow_6: hsl(43, 89%, 70%);
$support_yellow_7: hsl(43, 90%, 76%);
$support_yellow_8: hsl(45, 86%, 81%);
$support_yellow_9: hsl(45, 90%, 88%);
$support_yellow_10: hsl(45, 100%, 96%);
