.training-show-component .main-view .container {
  padding-top: 20px;

  .content {
    padding: 0 15px;
  }

  nav {
    padding: 4px 8px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    .btn {
      margin-left: 10px;
    }

    .btn-outline-primary {
      background-color: #fff;
      border-color: #1aaa55;
      box-shadow: none;
      color: #168f48 !important;
    }

    .btn-outline-primary:hover {
      background-color: #1aaa55;
      border-color: #168f48;
      box-shadow: none;
      color: #fff !important;
    }

    .btn-outline-danger {
      background-color: #fff;
      border-color: #fc9403;
      box-shadow: none;
      color: #de7e00 !important;
    }

    .btn-outline-danger:hover {
      background-color: #fc9403;
      border-color: #de7e00;
      box-shadow: none;
      color: #fff !important;
    }
  }
}
.main-view {
  .serviceList,
  .serviceQuickCreate {
    margin-top: 20px;

    .card {
      margin: 5px;
    }
  }
}
