@import "../../palettes/palette-1.scss";

ul.serviceList {
  padding-left: 0;
  list-style: none;
  margin-bottom: 60px;

  li {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    word-break: break-all;

    .nav-item-name {
      color: $neutral_blue_3;

      i {
        color: $neutral_blue_6;
        width: 26px;
      }

      i.fa-cube {
        padding-left: 2px;
      }
    }
  }

  li:hover {
    background-color: $neutral_blue_10;
    border-right: 2px solid $neutral_blue_5;

    .nav-item-name {
      color: $neutral_blue_1;

      i {
        color: $neutral_blue_4;
      }
    }
  }

  li.selected {
    background-color: $neutral_blue_9;
    border-right: 2px solid $neutral_blue_1;

    .nav-item-name {
      color: $neutral_blue_1;

      i {
        color: $neutral_blue_3;
      }
    }
  }

  a {
    min-height: 30px;
    transition: padding 0.3s;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    color: #707070;
    text-decoration: none;

    .nav-item-name {
      flex: 1;
    }
  }

  li {
    white-space: nowrap;
  }

  li.active {
    box-shadow: inset 4px 0 0 #4b4ba3;
    background: rgba(0, 0, 0, 0.04);

    a {
      color: #393982;
      margin-left: 4px;
      padding-left: 11px;
    }
  }

  .badge-training {
    margin-right: 3px;
  }
}
