@import "../../palettes/palette-1.scss";

.serviceList li {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}
.serviceList li.selected {
  background-color: $neutral_blue_10;
  border-right: 5px solid $neutral_blue_1;

  .nav-item-name {
    color: $neutral_blue_1;
    font-weight: 700;
  }
}
