@import "../../palettes/palette-1.scss";

.predict-show-component .main-view {
  .downloadModelFiles {
    max-height: 97px;
    overflow-y: auto;

    h6 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        white-space: normal;
        word-break: break-all;
      }
    }

    i {
      color: $neutral_blue_8;
    }

    .list-group-item {
      background-color: transparent;
      color: $neutral_blue_10;
      margin-left: 20px;
      border: 0;

      &:hover {
        background-color: $neutral_blue_1;
      }
    }
  }
}

/*
 * Sidebar display
 * change padding and hide download icons in list-group
*/
aside .downloadModelFiles {
  padding-top: 15px !important;

  padding-bottom: 20px;
  border-bottom: 1px solid $neutral_blue_8;

  h5 {
    margin-top: 10px;
    font-size: 18px;
    color: $neutral_blue_1;

    i {
      color: $neutral_blue_4;
    }
  }

  h6 {
    color: $neutral_blue_4;
  }

  .list-group a {
    border: 0;
    background-color: transparent;
  }

  .list-group i {
    color: $neutral_blue_3;
  }
}

/*
 * Predict list display
 * hide title
*/
.card .downloadModelFiles h5 {
  display: none;
}
