.gpuinfo {
  margin-top: 20px;

  h4 {
    color: $neutral_blue_4;
  }

  h5 {
    margin-top: 10px;
    font-size: 18px;
    color: $neutral_blue_1;

    i {
      color: $neutral_blue_4;
    }
  }

  .externalLink {
    font-size: 12px;
    margin-left: 10px;
  }

  .block {
    border: 0;
    padding: 2px 0;
    font-size: 0.9rem;
    color: $neutral_blue_4;

    i {
      color: $neutral_blue_4;
    }

    .badge.gpu-alert {
      background-color: $neutral_blue_5;
      color: $neutral_blue_10;

      .fas.fa-fire {
        color: $neutral_blue_10;
        margin: 0 3px;
      }
    }

    .far.fa-hdd {
      padding-left: 2px;
    }

    .text-primary {
      color: $neutral_blue_1 !important;
    }

    .text-secondary {
      color: $neutral_blue_4 !important;
    }
  }

  .detailsBadge {
    cursor: pointer;
    float: right;

    .fa-circle {
      color: #aaa;
    }
  }
}
